.buttons {
  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 50, 25);

  // .buttons__container
  &__container {
  }

  // .buttons__body
  &__body {
  }

  // .buttons__title
  &__title {
    @include adaptiveValue("margin-bottom", 46, 30);
  }

  // .buttons__row
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @media (max-width: $mobile) {
      justify-content: flex-start;
    }
  }

  // .buttons__item
  &__item {
    color: #fff;
    font-family: "Montserrat";
    letter-spacing: 0.7px;
    text-align: center;
    text-transform: uppercase;

    font-size: 14px;
  }
}

.btn {
}
.btn-primary {
}
.btn-success {
}
.btn-default {
  color: #0049b0;
}
.btn-outline-primary {
}
.btn-info {
}
.btn-warning {
  background-color: #f49a9e;
  border-color: transparent;
}
.btn-danger {
}
