.carousel {
  @include adaptiveValue("padding-top", 50, 25);
  @include adaptiveValue("padding-bottom", 50, 25);

  // .carousel__container
  &__container {
    max-width: 890px;
  }

  // .carousel__body
  &__body {
  }

  // .carousel__title
  &__title {
    @include adaptiveValue("margin-bottom", 54, 20);
  }

  // .carousel__slider
  &__slider {
    position: relative;

    @media (max-width: $tablet) {
      overflow: hidden;
    }
  }

  // .carousel__swiper
  &__swiper {
    margin-bottom: 30px;
  }

  // .carousel__slide
  &__slide {
  }

  // .carousel__control
  &__control {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .carousel__arrow
  &__arrow {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 1px solid #dadada;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s;

    @media (any-hover: hover) {
      &:hover {
        border-color: #0049b0;

        path {
          fill: #0049b0;
        }
      }
    }
  }

  // .carousel__arrow-prev
  &__arrow-prev {
    left: 0;
  }

  // .carousel__arrow-next
  &__arrow-next {
    right: 0;

    svg {
      transform: rotate(180deg);
    }
  }
}

.slide {
  // .slide__column
  &__column {
    @include adaptiveValue("padding-top", 42, 24);
    @include adaptiveValue("padding-bottom", 42, 24);
    @include adaptiveValue("padding-left", 42, 16);
    @include adaptiveValue("padding-right", 42, 16);

    margin: 0 auto;
    max-width: 760px;
    border: 1px solid #eee;

    position: relative;

    @media (min-width: 651px) and (max-width: $tablet) {
      display: grid;
      grid-template-columns: minmax(188px, 280px) 1fr;
      align-items: center;
    }

    @media (max-width: 650px) {
      display: block;
    }
  }

  // .slide__photo
  &__photo {
    @include adaptiveValue("width", 270, 188);

    @media (min-width: 1025px) {
      position: absolute;
      top: 50%;
      left: 55px;
      transform: translateY(-50%);
      z-index: 2;
    }

    @media (max-width: 650px) {
      margin: 0 auto 20px;
    }
  }

  // .slide__img
  &__img {
    max-width: 100%;
  }

  // .slide__content
  &__content {
    font-size: 16px;

    @media (min-width: 651px) {
      max-width: 350px;
    }

    @media (min-width: 1025px) {
      margin-left: auto;
    }
  }

  // .slide__text
  &__text {
    line-height: math.div(24, 16);
    color: #808080;
  }

  // .slide__title
  &__title {
    color: #303030;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  // .slide__date
  &__date {
    font-size: 16px;
    color: #303030;
  }
}

.carouselThumb {
  // .carouselThumb__slider
  &__slider {
    max-width: 384px;
    margin: 0 auto;
  }

  // .carouselThumb__swiper
  &__swiper {
    justify-content: center;
    column-gap: 18px;
  }

  // .carouselThumb__slide
  &__slide {
    cursor: pointer;
    width: 81px !important;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;

    &.swiper-slide-thumb-active {
      border-color: #0049b0;
      border-radius: 50%;
      overflow: hidden;
    }

    @media (max-width: 440px) {
      width: 63px !important;
      height: 62px;
    }
  }

  // .carouselThumb__img
  &__img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
