.inputs {
  @include adaptiveValue("padding-top", 50, 25);
  @include adaptiveValue("padding-bottom", 50, 25);

  // .inputs__container
  &__container {
  }

  // .inputs__body
  &__body {
  }

  // .inputs__title
  &__title {
    @include adaptiveValue("margin-bottom", 48, 32);
  }

  // .inputs__form
  &__form {
    @media (min-width: 601px) {
      display: grid;
      grid-template-columns: minmax(auto, 144px) minmax(auto, 116px) minmax(
          auto,
          160px
        );
      justify-content: center;
      column-gap: 28px;
    }

    @media (max-width: 1024px) {
      @include adaptiveValue("column-gap", 140, 0);
    }
  }

  // .inputs__item
  &__item {
    @media (max-width: 600px) {
      &:not(:last-child) {
        margin-bottom: 42px;
      }
    }
  }

  // .inputs__label
  &__label {
    cursor: pointer;
    width: max-content;
    padding-left: 30px;
    color: #5e5d5c;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;

    @media (max-width: 600px) {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  // .inputs__checkbox
  &__checkbox {
    &:checked + .inputs__square {
      border-color: #31a5e7;
      background-image: url(../img/icons/checkbox.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  // .inputs__square
  &__square {
    position: absolute;
    margin-left: -30px;
    width: 16px;
    height: 16px;
    border: 1px solid #464646;
    background-color: #fff;
  }

  // .inputs__radio
  &__radio {
    &:checked + .inputs__circle {
      border-color: #31a5e7;
      &:before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  // .inputs__circle
  &__circle {
    position: absolute;
    margin-left: -30px;
    width: 16px;
    height: 16px;

    border-radius: 50%;
    border: 1px solid #555555;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);

      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #31a5e7;

      transition: transform 0.3s;
    }
  }

  // .inputs__label-switcher
  &__label-switcher {
    padding-left: 68px;
    display: flex;
    align-items: center;
    position: relative;
  }

  // .inputs__switcher
  &__switcher {
    &:checked + .inputs__thumb {
      background-color: #34bf49;

      &:before {
        transform: translateX(0px);
      }
    }
  }

  // .inputs__thumb
  &__thumb {
    position: absolute;
    left: 0;
    width: 48px;
    height: 20px;
    border-radius: 10px;
    background-color: #f49a9e;
    transition: background-color 0.3s;

    &::before {
      content: "";
      transform: translateX(-28px);
      position: absolute;
      top: 2px;
      right: 2px;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: #fff;
      transition: transform 0.3s;
    }
  }
}
